/* LAYOUT */

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #F2F0EF;
    font-size: 1rem;
    color: #2d2d2d;
}

header,
.more-games-section {
    background-color: #ffa62b;
    color: #F2F0EF;
    padding: 0 20px;
}

.container {
    width: 360px;
    margin: 0 auto;
}


/* TYPOGRAPHY */

h1 {
    margin: 0;
    padding-top: 50px;
    font-size: 3.25rem;
    line-height: 1.5cm;
}

h2 {
    padding: 40px 0 10px;
    margin: 0;
    font-size: 2rem;
    color: #2d2d2d;
}

h3 {
    margin: 30px 0 0 0;
    font-size: 1.75rem;
}

h4 {
    padding: 30px 0 10px;
    font-size: 1.75rem;
    margin-bottom: 0;
}

h2,
h3,
.header-p {
    line-height: 110%;
}

p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

ul {
    margin: 0;
    border: 1px solid red;
}

a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding-bottom: 0;
}


/* OTHER CLASSES */

.mindcompass-title {
    font-size: 3rem;
    font-weight: 900;
    color: hotpink;
    text-shadow: 0 0 2px #fff;
    padding: 0;
}

.header-p {
    padding: 35px 0 40px;
    font-size: 1.25rem;
}

.generated-letter-countries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: 0;
    border: 1px red solid;
}

.chosen-letter-countries {
    list-style: none;
    font-size: 1rem;
}

.checkbox {
    
}

/* .more-games-btns {
    display: flex;
    flex-direction: column;
} */


/* BUTTONS */

.random-btn,
.end-btns {
    padding: 10px 20px;
}

.all-btns,
.end-btns {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    background-color: #2d2d2d;
    color: #F2F0EF;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
}

.all-btns {
    margin: 10px auto;
}

.end-btns {
    margin: 5px 0;
}

.random-letter-btn {
    width: 50px;
    text-align: center;
    padding: 10px 0;
}

.all-btns:hover,
.all-btns:active {
    background-color: #ffa62b;
}

.end-btns:hover,
.all-btns:active {
    background-color: #F2F0EF;
    color: #2d2d2d;
}