@font-face {
    font-family: "nordic";
    src: url("PTF-NORDIC-Rnd-Lt.ttf");
}

body {
    font-family: "nordic";
    text-align: center;
    margin: 0;
    max-width: 960px;
}

#header-section {
    background-color: #ffa62b;
    color: #F2F0EF;
}

h1 {
    padding: 50px 0 40px;
    margin: 0;
    font-size: 70px;
}

h2 {
    margin: 0;
}

h3 {
    padding: 20px 0;
    margin: 0;
}

#game-one {
    background-color: #F2F0EF;
    font-size: 30px;
}

h4 {
    padding: 40px 0 10px;
    margin: 0;
    color: #2d2d2d;
}

button {
    font-family: inherit;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #2d2d2d;
    color: #F2F0EF;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#letter-btns {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

#generated-letter-countries {
    display: flex;
    flex-direction: column;
}

#countries-list {
    padding-bottom: 40px;
}