/* LAYOUT */

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #F2F0EF;
    font-size: 1rem;
    color: #2d2d2d;
}

header,
.more-games-section {
    background-color: #ffa62b;
    color: #F2F0EF;
    padding: 0 20px;
}

.container {
    width: 360px;
    margin: 0 auto;
}


/* TYPOGRAPHY */

h1 {
    margin: 0;
    padding-top: 50px;
    font-size: 3.25rem;
    line-height: 1.5cm;
}

h2 {
    padding: 40px 0 10px;
    margin: 0;
    font-size: 2rem;
    color: #2d2d2d;
}

h3,
h4,
h5 {
    font-size: 1.75rem;
}

h3 {
    margin: 30px 0 0 0;

}

h4 {
    padding: 30px 0 10px;
    margin-bottom: 0;
}

h5 {
    margin: 0;
    padding-bottom: 10px;
}

h2,
h3,
.header-p {
    line-height: 110%;
}

p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

ul {
    margin: 0;
    border: 1px solid red;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding-bottom: 0;
}


/* OTHER CLASSES */

.mindcompass-title {
    font-size: 3rem;
    font-weight: 900;
    color: hotpink;
    text-shadow: 0 0 5px whitesmoke;
    padding: 0;
}

.header-p {
    padding: 35px 0 40px;
    font-size: 1.25rem;
}

.generated-letter-countries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin: 0;
    border: 1px red solid;
}

.chosen-letter-countries {
    font-size: 1rem;
}

.tick,
.lightbulb {
    cursor: pointer;
}

.tick:checked {
    background-color: hotpink;
}

.country {
    display: inline-block;
}


/* BUTTONS */

.random-btn,
.end-btns {
    padding: 10px 20px;
}

.all-btns,
.end-btns {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    background-color: #2d2d2d;
    color: #F2F0EF;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
}

.all-btns {
    margin: 10px auto;
}

.end-btns {
    margin: 5px 0;
}

.random-letter-btn {
    width: 50px;
    text-align: center;
    padding: 10px 0;
}

.all-btns:hover,
.all-btns:active {
    background-color: #ffa62b;
}

.end-btns:hover,
.end-btns:active {
    background-color: #F2F0EF;
    color: #2d2d2d;
}

.random-letter-btn:focus {
    background-color: hotpink;
}

/* .random-letter-btn:visited {
    background-color: #3b021f;
} */

/* MODAL */
  
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 420px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #2d2d2d;
    color: whitesmoke;
    opacity: 99.5%;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

/* MODAL BUTTONS */

.close-modal-btn-container{
    text-align: right;
    margin: 10px 10px 0 0;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: hotpink;
    cursor: pointer;
}